<html>
  <head>
    <title>Donghwan Shin</title>
  </head>
  <body>
    <%= erb :header %>
    <h2>Donghwan Shin</h2>
    <img src="images/donghwan.jpg" width="100" />
    <%= erb :footer %>
  </body>
</html>
