<html>
  <head>
    <title>COM1001 staff</title>
  </head>
  <body>
    <h1>COM1001 staff</h1>
    <ul>
      <li><a href="./donghwan">Donghwan Shin</a></li>
      <li><a href="./phil">Phil McMinn</a></li>
    </ul>
  </body>
</html>
