<html>
  <head>
    <title>Phil McMinn</title>
  </head>
  <body>
    <%= erb :header %>
    <h2>Phil McMinn</h2>
    <img src="images/phil.jpg" width="100" />
    <%= erb :footer %>
  </body>
</html>
