<html>
<head>
    <title>A Simple View</title>
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <img src="images/uos-logo.png" width="400" />

    <h1>Simple View Example</h1>

    <p>Showing how to incorporate CSS and images into the
    pages of your web application.</p>
</body>
</html>